*.csv
*.png
*.pdf
*.pyc
__pycache__/correct_biases.cpython-38.pyc
*.txt
Lstm_tf2_wing_wall_working.py
*.h5
*.pb
plots
Lstm_tf2_wing_wall_prediction.py
Lstm_tf2_wing_wall_prediction_old.py
plot_binary.py
plot_cycles.py
plot_regression.py
.idea
*desktop.ini
*.svg
*.zip
Lstm_tf2_wing_wall_regression_correction_prediction.py
loss_plot.py
loss_check_dropout.py
lstm_hyperparameter_list_correct_prediction.py
Lstm_tf2_wing_wall_regression_copy.py
start_make_0_phase.py
